<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>来自模板的内容</h1>
    <p>name1 : {{goal_list_return.name1}} goal1 : {{goal_list_return.goal1}}</p>
    <p>name2 : {{goal_list_return.name2}} goal2 : {{goal_list_return.goal2}}</p>
    <p>name3 : {{goal_list_return.name3}} goal3 : {{goal_list_return.goal3}}</p>
    <p>name4 : {{goal_list_return.name4}} goal4 : {{goal_list_return.goal4}}</p>
    <p>name5 : {{goal_list_return.name5}} goal5 : {{goal_list_return.goal5}}</p>
</body>
</html>